# macOS
.DS_Store

# Xcode — персональные настройки
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode — сборка
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
